@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/fonts/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-MediumItalic.eot");
  src: local("GothamSSm Medium Italic"), local("GothamSSm-MediumItalic"), url("../fonts/gotham/GothamSSm-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-MediumItalic.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-MediumItalic.woff") format("woff"), url("../fonts/gotham/GothamSSm-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-Book.eot");
  src: local("GothamSSm Book"), local("GothamSSm-Book"), url("../fonts/gotham/GothamSSm-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Book.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-Book.woff") format("woff"), url("../fonts/gotham/GothamSSm-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-XLight.eot");
  src: local("GothamSSm ExtraLight"), local("GothamSSm-XLight"), url("../fonts/gotham/GothamSSm-XLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-XLight.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-XLight.woff") format("woff"), url("../fonts/gotham/GothamSSm-XLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-LightItalic.eot");
  src: local("GothamSSm Light Italic"), local("GothamSSm-LightItalic"), url("../fonts/gotham/GothamSSm-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-LightItalic.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-LightItalic.woff") format("woff"), url("../fonts/gotham/GothamSSm-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-Medium.eot");
  src: local("GothamSSm Medium"), local("GothamSSm-Medium"), url("../fonts/gotham/GothamSSm-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Medium.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-Medium.woff") format("woff"), url("../fonts/gotham/GothamSSm-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url("GothamSSm-BookItalic.eot");
  src: local("../fonts/gotham/GothamSSm Book Italic"), local("GothamSSm-BookItalic"), url("../fonts/gotham/GothamSSm-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-BookItalic.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-BookItalic.woff") format("woff"), url("../fonts/gotham/GothamSSm-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-Black.eot");
  src: local("GothamSSm Black"), local("GothamSSm-Black"), url("../fonts/gotham/GothamSSm-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Black.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-Black.woff") format("woff"), url("../fonts/gotham/GothamSSm-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-BlackItalic.eot");
  src: local("GothamSSm Black Italic"), local("GothamSSm-BlackItalic"), url("../fonts/gotham/GothamSSm-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-BlackItalic.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-BlackItalic.woff") format("woff"), url("../fonts/gotham/GothamSSm-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-XLightItalic.eot");
  src: local("GothamSSm ExtraLight Italic"), local("GothamSSm-XLightItalic"), url("../fonts/gotham/GothamSSm-XLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-XLightItalic.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-XLightItalic.woff") format("woff"), url("../fonts/gotham/GothamSSm-XLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-Light.eot");
  src: local("GothamSSm Light"), local("GothamSSm-Light"), url("../fonts/gotham/GothamSSm-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Light.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-Light.woff") format("woff"), url("../fonts/gotham/GothamSSm-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-Bold.eot");
  src: local("GothamSSm Bold"), local("GothamSSm-Bold"), url("../fonts/gotham/GothamSSm-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-Bold.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-Bold.woff") format("woff"), url("../fonts/gotham/GothamSSm-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url("../fonts/gotham/GothamSSm-BoldItalic.eot");
  src: local("GothamSSm Bold Italic"), local("GothamSSm-BoldItalic"), url("../fonts/gotham/GothamSSm-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamSSm-BoldItalic.woff2") format("woff2"), url("../fonts/gotham/GothamSSm-BoldItalic.woff") format("woff"), url("../fonts/gotham/GothamSSm-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*# sourceMappingURL=_custom-settings.css.map */
